$gunmetal: #012a36ff;
$antique-ruby: #8b2635ff;
$lavender-blush: #f3e8eeff;
$medium-purple: #957fefff;
$maximum-yellow-red: #ffbf46ff;

body {
    background-color: $gunmetal;
}
header {
    margin: 2vh auto;
}
header, nav, main {
    background: #FFF;
    min-height: 10vh;
}
nav, main {
    min-height: 82vh;
    li {
        list-style: none;
    }
}
main {
    div {
        border-radius: 8px;
        margin-bottom: .12rem;
    }
    .row > .col, .row > [class^=col-], .bg {
        background: $lavender-blush;
        padding-top: .75rem;
        padding-bottom: .75rem;
        border: none;
        border-bottom: thin solid $maximum-yellow-red;
        border-left: thin solid $maximum-yellow-red;
    }
    @for $i from 1 to 7 {
        h#{$i} {
            color: $antique-ruby;
        }
    }
}